README.md @orta

# These are all basically the test fixture info
root-codeowners/**/*.js @two

# Collaborators for Portuguese Translation of the Website
packages/playground-examples/copy/pt/**/*.md @khaosdoctor @danilofuchs @orta
packages/tsconfig-reference/copy/pt/**/*.md @khaosdoctor @danilofuchs  @orta
packages/typescriptlang-org/src/copy/pt/**/*.md @khaosdoctor @danilofuchs  @orta
packages/documentation/copy/pt/**/*.ts @khaosdoctor @danilofuchs  @orta
